.landing{
    min-height: 100vh;
   
    width: 100%;
    background-image: url("../Background.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
    
} 

.landingNavbar{
    display: flex;
    justify-content: space-between;
    padding-inline: 2.5rem;
    padding-block: 1.6rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;


    & h2{
        color: #006666;
        font-size: 1.8rem;
        font-weight: 500;
        cursor: pointer;
    }

    & h2:hover{
        text-decoration: underline;
    }

    & .navList{
        display: flex;
        gap: 1.6rem;
        cursor: pointer;

        & a{
            color: #004080;
        }

        & a:hover{
            color:#042b52;
            text-decoration: underline;
            font-size: 14px;
        }
    }
}

.hambur{
    display: none;

    & button{
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #eee;
        border: none;

        & svg{
            font-size: 1.5rem;
        }
    }
}

.landingHero {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
    gap: 2rem;
    margin-bottom: 2rem;

    & .landingImage img{
        height: 60vh;
        width: auto;
    }

    & .landingContent{
        & h1{
        font-size: 5rem;
        }

        & p{
        font-size: 2rem;
        }

        & div{
            background: #D97500;
            width: fit-content;
            padding: 1rem;
            border-radius: 20px;
            margin-top: 1.9rem;

            & a{
                color: white;
            }
        }

        & div:hover {
            background-color: rgb(0, 255, 255);
            cursor: pointer;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            & a{
                color: black;
            }
        }
    } 

}

.landingImage{
    position: relative;
}


.landingImage::after, .landingImage::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 39rem;
    width: 39rem; 
    border-radius: 50%;
    background-color: #0062ff;
    z-index: 1;
    opacity: 0.2;
}

.landingImage::before{
    animation: circle 7s linear infinite;
}

.landingImage::after{
    width: 40rem;
    height: 40rem;
    background-color: transparent;
    z-index: 1;
    border: 0.5rem solid #ebf3fe;
}

@keyframes circle {
  0% {
    background-color: #3381ff;
  }
  10% {
    background-color: #4d91ff;
  }
  20% {
    background-color: #99c0ff;
  }
  30% {
    background-color: #80b1ff;
  }
  40% {
    background-color: #b3d0ff;
  }
  70% {
    background-color: #80b1ff;
  }
  80% {
    background-color: #4d91ff;
  }
  90% {
    background-color: #99c0ff;
  }
  100% {
    background-color: #3381ff;
  }
}


@media (width <= 1220px) {
    html {
    font-size: 70%;
    }

    .landingHero{
        max-width: 90%;
        padding: 5.6rem 2.4rem;
        gap: 1rem;
    }
}

@media (width <=1070px) {
    .landingHero{
        gap: 1rem;

        & .landingContent {
            & h1{
                font-size: 4rem;
            }

            & p{
                font-size: 1.5rem;
            }
        }

        & .landingImage img{
            height: 60vh;
        }
    }
}

@media (width <= 880px) {
    .landingNavbar .navList{
        display: none;
    }

    .hambur{
        display: inline-block;
    }

    .navListApp{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        position: absolute;
        top:6rem;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;

        & a{
            width: 100%;
            height: 2rem;
            text-align: center;
        }
        & a:hover{
            color: blue;
            font-size: 1.2rem;
        }
    }

    .landingHero{
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 2.4rem;

        & .landingContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 9.6rem 2.4rem;
            gap: 2rem;

            & h1{
                font-size: 4rem;
            }
        }

        & .landingImage img{
            height: 40vh;
        }
    }

    .landingImage::after, .landingImage::before{
        height: 30rem;
        width: 30rem; 
    }
}

@media (width <= 540px) {
    .landingHero{
        & .landingImage img{
            height: 30vh;
        }
    }

    .landingImage::after, .landingImage::before{
        height: 20rem;
        width: 20rem; 
    }
}