/* Header */
.header{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-inline: 5rem;
    padding-block: 1.6rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10; 

    & h2{
        color: #006666;
        font-size: 1.8rem;
        font-weight: 500;
        cursor: pointer;
    }

    & h2:hover{
        text-decoration: underline;
    }

    & .webNavList{
        display: flex;
        gap: 1.6rem;
        cursor: pointer;

        & a{
            z-index: 10;
            color: #004080;
        }

        & a:hover{
            color:#042b52;
            text-decoration: underline;
        }
    }
}

.hambur{
    display: none;

    & button{
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #eee;
        border: none;

        & svg{
            font-size: 1.5rem;
        }
    }
}


@media (width <= 880px) {
    .navbar{
        position: relative;
    }
    .navbar .webNavList{
        display: none;
    }

    .hambur{
        display: inline-block;
    }

    .appNavList{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        position: absolute;
        top:6rem;
        left: 0;
        width: 100%;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;

        & a{
            z-index: 10;
            width: 100%;
            height: 2rem;
            text-align: center;
        }
    }

    .appNavList a:hover{
            color: blue;
            text-decoration: underline;
            font-size: 1.2rem;
    }
}




/* Footer */
.footer{
    
    position: relative;
    bottom: 0;
    height: 12rem;
    max-width: 100%;
    background-color: rgb(11, 13, 33);
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.footer-content{
    height: 6rem;
    align-items: center;
    padding-inline: 5rem;

    & h2{
      color: white;  
    }
}

.list{
    display: flex;
    justify-content: end;
    gap: 3rem;
}

.list svg {
  color: white;
  font-size: 2rem;
}

.copyright{
    background-color: #004080;
    height: 6rem;
    align-items: center;
    padding-inline: 5rem;
}


@media (width<=500px) {
    .grid-two-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-content, .copyright{
        justify-content: center;
       
        text-align: center;
    }
}



